body {
    margin: 0;
    padding: 0;
}

main{
    padding: 16px;
}

footer{
    padding: 24px 24px 24px 24px;
    background-color: lightcoral;
}

img{
    height: 200px;
}

nav{
    padding: 16px;
    border: 1px solid black;
    border-style: none none solid none;
    background-color: lightseagreen;
}

.grid-container {
    display:grid;
    grid-template-columns: auto auto auto auto;
}

h1 {
    color: violet;
}

div h3 a {
    color:blue;
}

a {
    text-decoration: none;
}

header nav a {
    color: black;
}

tr:nth-child(even) {
    background-color: lightgray;
}
